In this notebook I will show how to work with real-time data that updates not only the column values (relative to time), but also adds new rows to existing table. I will use a .csv file that contains information from my YouTube channel videos. I've extracted that CSV file from my 'youtube-api-tutorial' repo.

In [1]:
#First of all, videos on my channel aren't really type of content that someone will see on daily basis, 
#so in expecation things such as view_count, like_count etc. on average will stay the same.
#I will manually update values of some existing columns, and also imitate the scenario of having a new video(s) by appending row(s) and checking if my code works based on that.

In [2]:
#Installing the necessary libraries
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.28-cp37-cp37m-manylinux1_x86_64.whl (37.6 MB)
     |████████████████████████████████| 37.6 MB 1.1 MB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.28

In [3]:
#Importing libraries
import mysql.connector
from mysql.connector.constants import ClientFlag
import pandas as pd

In [4]:
#Let's upload our .csv file that contains informations of my videos:
df = pd.read_csv('my_youtubeWo.csv')
df.head()

      video_id  ... comment_count
0  -2i4xmW6u2A  ...             0
1  avbZDwi4VTM  ...             0
2  TWkT6ovxAtQ  ...             0
3  Bj0CMyhLDRU  ...             0
4  neGDJyEpkVw  ...             0

[5 rows x 6 columns]

In [5]:
def connect_to_db(user, password, host_ip):
  '''
      Connecting to cloud database.
  '''
  cnxn = None
  config = {
    'user': user,
    'password': password,
    'host': host_ip,
    'client_flags': [ClientFlag.SSL],
    'ssl_ca': 'ssl/server-ca.pem',
    'ssl_cert': 'ssl/client-cert.pem',
    'ssl_key': 'ssl/client-key.pem'
            }


  try:  
       cnxn = mysql.connector.connect(**config)
  except:
       print('Error! Please check if you put the right information into given variables (password, user etc.).')
  else:
      print('You are sucessfully connected to the Cloud instance!')
    
  return cnxn

In [6]:
conn_db = connect_to_db(user = 'root', password = 'nope', host_ip = '34.15229.2220.202')

You are sucessfully connected to the Cloud instance!

In [7]:
conn_db.is_connected() #It connects us to the Cloud server

True

In [8]:
#Now let's create a database 
cursor = conn_db.cursor()
cursor.execute('CREATE DATABASE IF NOT EXISTS my_youtube')

#We are going to disconnect from the Cloud SQL instance and reconnect to the specific database we made 'my_youtube'
conn_db.close()
conn_db.is_connected()

False

In [9]:
#vars(conn_db)
conn_db._database = 'my_youtube'
print(conn_db._database)

my_youtube

In [10]:
conn_db.connect()
print(conn_db.is_connected(), conn_db._database)

True my_youtube

In [11]:
##Now let's create a table in our database
df.head(1)

      video_id                          video_title  ... like_count  comment_count
0  -2i4xmW6u2A  ZHU - In the Morning* [Short Cover]  ...         11              0

[1 rows x 6 columns]

In [12]:
df.dtypes

video_id         object
video_title      object
upload_date      object
view_count        int64
like_count        int64
comment_count     int64
dtype: object

In [13]:
#We are going to set video_id as our Primary key. On other columns we wont allow NULL values
#I'm not going to wrap this into function since each table has different columns and datatypes ;)

In [14]:
create_table_query = ('''CREATE TABLE IF NOT EXISTS yt_channel_videos (
                          video_id VARCHAR(255) PRIMARY KEY,
                          video_title TEXT NOT NULL,
                          upload_date DATE NOT NULL,
                          view_count INTEGER NOT NULL,
                          like_count INTEGER NOT NULL,
                          comment_count INTEGER NOT NULL)''')

cursor.execute(operation = create_table_query)

conn_db.commit()

Before we even start populating the remote table we will first design the implementation of update/insert functions. The main idea will revolve around 'one video per update/insert'. We will first check if that video exists in our table, and if so we will update the columns on the fly. If not, we will create a separate dataframe to hold new rows, and depending on the schedule we intend to program that separate dataframe might contain huge amounts of rows! The idea of importing them all at once into our remote table would possibly have performance/memory issues, and hence we will do it 'per video'.

In [ ]:
for i, row in df.iterrows():
  if check_if_video_exists():
    update_row()
  else:
    append(row)

In [21]:
#Checking if video exists
def check_if_video_exists(cursor, video_id):
  query = ('''SELECT video_id FROM yt_channel_videos WHERE video_id = %s''')
  cursor.execute(query, (video_id,))
  return cursor.fetchone() is not None #If there is a row fetchone() will return it, if not it will return None

In [186]:
#Update rows
def update_row(cursor, video_id, video_title, upload_date, view_count, like_count, comment_count):
  query = ('''UPDATE yt_channel_videos
            SET video_title = %s, upload date = %s, view_count = %s, like_count = %s, comment_count = %s
            WHERE video_id = %s;''')
  vars_to_update = (video_title, upload_date, view_count, like_count, comment_count, video_id)
  cursor.execute(query, vars_to_update)

In [23]:
tmp_df = pd.DataFrame(columns = list(df.columns))
tmp_df.head()

Empty DataFrame
Columns: [video_id, video_title, upload_date, view_count, like_count, comment_count]
Index: []

In [24]:
def update_db(cursor, df):  
 tmp_df = pd.DataFrame(columns = list(df.columns)) #Temporary dataframe for storing new videos that aren't in a database
 for i, row in df.iterrows():
       if check_if_video_exists(cursor, row['video_id']):
         update_row(cursor, row['video_id'], row['video_title'], row['upload_date'], row['view_count'], row['like_count'], row['comment_count'])
       else:
          tmp_df = tmp_df.append(row)
 return tmp_df

In [33]:
#Insert new rows
def insert_new_rows(cursor, video_id, video_title, upload_date, view_count, like_count, comment_count):
  '''  '''
  query = ('''INSERT INTO yt_channel_videos (video_id, video_title, upload_date, view_count, like_count, comment_count)
            VALUES(%s, %s, %s, %s, %s, %s);''')
  row_to_insert = (video_id, video_title, upload_date, view_count, like_count, comment_count)
  cursor.execute(query, row_to_insert)

In [31]:
#Inserting new rows (row by row) into database
def append_df_to_db(cursor, df):
  for i, row in df.iterrows():
    insert_new_rows(cursor, row['video_id'], row['video_title'], row['upload_date'], row['view_count'], row['like_count'], row['comment_count'])

In [26]:
new_df = update_db(cursor, df)
conn_db.commit()

In [29]:
new_df

       video_id  ... comment_count
0   -2i4xmW6u2A  ...             0
1   avbZDwi4VTM  ...             0
2   TWkT6ovxAtQ  ...             0
3   Bj0CMyhLDRU  ...             0
4   neGDJyEpkVw  ...             0
5   CvRncH8rdPc  ...             2
6   VgB6hCpFong  ...             8
7   dUMmMRKPek4  ...             0
8   lZvB18OSDe8  ...             0
9   -fVxmrQeTBA  ...             4
10  -zy2pXzqwCM  ...             3
11  j6VUf73iY00  ...             1
12  1kFw5iGUxSU  ...            32
13  4mVlcq8BHJk  ...             0
14  EnqCrg8J0YU  ...             0
15  fD_TvzuH_vE  ...             0
16  jRNvxO8ZPdo  ...             1

[17 rows x 6 columns]

In [34]:
append_df_to_db(cursor, new_df)
conn_db.commit()

In [35]:
#Let's check if that works!
query = '''SELECT * FROM yt_channel_videos;'''
cursor.execute(query)
output = cursor.fetchall()
for row in output:
  print(row)

('-2i4xmW6u2A', 'ZHU - In the Morning* [Short Cover]', datetime.date(2018, 9, 23), 288, 11, 0)
('-fVxmrQeTBA', 'Test 1', datetime.date(2017, 2, 15), 76, 1, 4)
('-zy2pXzqwCM', 'Zabranjeno Pušenje - Ženi Nam Se Vukota //Solo (Cover)', datetime.date(2017, 1, 21), 3839, 41, 3)
('1kFw5iGUxSU', 'REPILF - 1312 NIJANSI CRNE (SPOT)', datetime.date(2016, 11, 26), 31537, 322, 32)
('4mVlcq8BHJk', 'dark cloud - broken promise (guitar cover)', datetime.date(2016, 8, 1), 335, 9, 0)
('avbZDwi4VTM', 'Amra Mandžukić #4 //BIH Women&#39;s National Volleyball Team', datetime.date(2018, 5, 17), 808, 13, 0)
('Bj0CMyhLDRU', 'Poklon Čani', datetime.date(2018, 2, 10), 113, 6, 0)
('CvRncH8rdPc', 'Riblja Čorba - Bože, koliko je volim (COVER)', datetime.date(2017, 10, 2), 491, 14, 2)
('dUMmMRKPek4', 'Scientific method fromBosnia be like...', datetime.date(2017, 2, 20), 190, 3, 0)
('EnqCrg8J0YU', 'snimanje karakteristika tranzistora.', datetime.date(2016, 7, 12), 252, 4, 0)
('fD_TvzuH_vE', 'merrie melodies opening theme (guitar cover)', datetime.date(2016, 2, 20), 828, 12, 0)
('j6VUf73iY00', 'S.A.R.S. - Praktična žena (Bass Cover)', datetime.date(2017, 1, 7), 381, 7, 1)
('jRNvxO8ZPdo', 'Alice in Chains - Would? (Unplugged) cover', datetime.date(2014, 7, 28), 178, 3, 1)
('lZvB18OSDe8', 'Intro 1', datetime.date(2017, 2, 18), 36, 0, 0)
('neGDJyEpkVw', 'žeks from skugric $$ thug life $$', datetime.date(2018, 1, 30), 211, 4, 0)
('TWkT6ovxAtQ', 'Animal Farm (BOSNIA Edition)', datetime.date(2018, 3, 1), 127, 4, 0)
('VgB6hCpFong', 'Šoferska je tuga pregolema (Guitar)', datetime.date(2017, 4, 13), 523, 5, 8)

In [38]:
len(output) == len(new_df) #There we go ;)

True

In [39]:
#Let's see if the update function works. 
#Now, I'm going to make a dataframe with a synthetic data such that some of the columns from the existing rows are changed (view_counts etc.),
#and I'm also going to add some new videos with random stuff that mimic this dataset, since I'm not that YouTube popular ;)

df_syn = df.copy() #Synthetic dataset
df_syn.head()

      video_id  ... comment_count
0  -2i4xmW6u2A  ...             0
1  avbZDwi4VTM  ...             0
2  TWkT6ovxAtQ  ...             0
3  Bj0CMyhLDRU  ...             0
4  neGDJyEpkVw  ...             0

[5 rows x 6 columns]

In [56]:
#View count must be more than existing and hence: view_count = view_count + randomint()
df_syn.at[1, 'view_count']

808

In [54]:
#Generating random integers

from random import seed, randint
#Setting a random seed is not *that necessary* because we want our values to be random, and possibly each time different.
#The logic remains the same, the p-value is still 0.05 :P 
seed(42) 
for _ in range(10):
	value = randint(1000, 100000) #I'm forecasting to be so popular on YouTube :P
	print(value)

84810
15592
4278
98196
37048
33098
30256
19289
97530
14434

In [65]:
#######VIEW COUNTS#######

In [59]:
#Values of view_count before:
df_syn.at[1, 'view_count'], df_syn.at[5, 'view_count'], df_syn.at[8, 'view_count']

(808, 491, 36)

In [60]:
#We are going to change just a few of a videos
df_syn.at[1, 'view_count'] = df_syn.at[1, 'view_count'] + randint(1000,10000)
df_syn.at[5, 'view_count'] = df_syn.at[5, 'view_count'] + randint(1000,10000)
df_syn.at[8, 'view_count'] = df_syn.at[8, 'view_count'] + randint(1000,10000)

In [61]:
#Values of view_count after:
df_syn.at[1, 'view_count'], df_syn.at[5, 'view_count'], df_syn.at[8, 'view_count']

(8720, 2011, 1524)

In [66]:
#######LIKE COUNTS#######

In [62]:
#Values of like_count before 
df_syn.at[2, 'like_count'], df_syn.at[4, 'like_count'], df_syn.at[9, 'like_count']

(4, 4, 1)

In [63]:
#Values of view_count before:
df_syn.at[2, 'like_count'] = df_syn.at[2, 'like_count'] + randint(10,100)
df_syn.at[4, 'like_count'] = df_syn.at[4, 'like_count'] + randint(10,100)
df_syn.at[9, 'like_count'] = df_syn.at[9, 'like_count'] + randint(10,100)

In [64]:
#Values of like_count after
df_syn.at[2, 'like_count'], df_syn.at[4, 'like_count'], df_syn.at[9, 'like_count']

(25, 41, 40)

In [ ]:
#######NEW VIDEOS#######

In [77]:
##RANDOM VIDEO IDS
from random import choice
from string import ascii_letters as al
length_of_random_string = 11 #Since all of the video_id's are of length 11

random_string = "".join(choice(al) for i in range(length_of_random_string))

print(random_string)

jnWvgfygwwM

In [136]:
len('jnWvgfygwwM')

11

#Probability of having IDs same as ones I already have?
Given that video_id is a string of length 11 and contains set of ascii_letters where len(ascii_letters) = 128 (128 unique chars) it would mean that there are 128^11=1.5111573e+23 unique possibilities. Probability is pretty much num_of_videos/128^11. Probability tends to 0, BUT there is still a possibility. ;)

In [86]:
##RANDOM DATES
!pip install Faker

Collecting Faker
  Downloading Faker-12.1.0-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 5.0 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker) (3.10.0.2)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)
Installing collected packages: Faker
Successfully installed Faker-12.1.0

In [88]:
#We are lucky enough that dates are sorted in descending order ;)
df_syn.head()

      video_id  ... comment_count
0  -2i4xmW6u2A  ...             0
1  avbZDwi4VTM  ...             0
2  TWkT6ovxAtQ  ...             0
3  Bj0CMyhLDRU  ...             0
4  neGDJyEpkVw  ...             0

[5 rows x 6 columns]

In [183]:
###### NEW ROWS ######

In [126]:
#I'm going to use Faker library so that I can generate random dates
#Using the basic common sense we can conclude this logic: This dataframe contains all the videos that I ever uploaded, so 
#I can't add a video that is older than todays date and earlier than the latest video I've uploaded
#Well, since YouTube API collects only Public videos, there might be a possibility that I've made some videos Private which might be 'younger' or 'equal'
#than my latest video upload and older than date of my account creation. 

from faker import Faker
import datetime
fake = Faker()

#Date today
today_date = datetime.date.today()
today_year = int(today_date.strftime('%Y'))
today_month = int(today_date.strftime('%m'))
today_day = int(today_date.strftime('%d'))

#Latest video date
latest_date = df_syn.at[0, 'upload_date'].split('-')
ld_year = int(df_syn.at[0, 'upload_date'].split('-')[0])
ld_month = int(df_syn.at[0, 'upload_date'].split('-')[1])
ld_day = int(df_syn.at[0, 'upload_date'].split('-')[2])


start_date = datetime.date(year = ld_year, month = ld_month, day = ld_day)
end_date = datetime.date(year = today_year, month = today_month, day = today_day)
date_in_between = fake.date_between(start_date = start_date, end_date = end_date)

print(f'Start date: {start_date}; End date: {end_date}; Date in between: {date_in_between}.')

Start date: 2018-09-23; End date: 2022-02-09; Date in between: 2019-07-09.

In [ ]:
#This seems good!

In [81]:
%pprint

Pretty printing has been turned ON

In [ ]:
#metoo ^

In [ ]:
##RANDOM VIDEO TITLES

#Let's train a Youtube Video Title Generator using LSTMs... NO!

In [134]:
##DETERMINISTIC VIDEO TITLES
video_1_title = 'How to train a Youtube Video Title Generator using LSTMs'
video_2_title = "I'm so lazy to train a Youtube Video Title Generator using LSTMs (Part 1)"
video_3_title = "I'm so lazy to train a Youtube Video Title Generator using LSTMs (Part 2)"

In [154]:
fake.date_between(start_date = start_date, end_date = end_date)

datetime.date(2020, 3, 23)

In [157]:
#Fake video dates
video_dates = []
for i in range(3):
  video_dates.append(fake.date_between(start_date = start_date, end_date = end_date))
print(video_dates)

[datetime.date(2020, 9, 23), datetime.date(2020, 11, 28), datetime.date(2019, 3, 29)]

In [158]:
#Fake dates
video_1_date = str(video_dates[0])
video_2_date = str(video_dates[1])
video_3_date = str(video_dates[2])

In [177]:
#Random Video IDs
random_string_1 = "".join(choice(al) for i in range(length_of_random_string))
random_string_2 = "".join(choice(al) for i in range(length_of_random_string))
random_string_3 = "".join(choice(al) for i in range(length_of_random_string))

In [164]:
print(video_1_date, video_2_date)

2020-09-23 2020-11-28

In [178]:
#Three new videos
new_row_1 = {'video_id':random_string_1,
             'video_title': video_1_title,
             'upload_date': video_1_date, 
              'view_count': randint(1000,10000), 
              'like_count': randint(10,100), 
              'comment_count': randint(69,250)}

new_row_2 = {'video_id':random_string_2,
             'video_title': video_2_title,
             'upload_date': video_2_date, 
              'view_count': randint(1000,10000), 
              'like_count': randint(10,100), 
              'comment_count': randint(69,250)}

new_row_3 = {'video_id':random_string_3,
             'video_title': video_3_title,
             'upload_date': video_3_date, 
              'view_count': randint(1000,10000), 
              'like_count': randint(10,100), 
              'comment_count': randint(69,250)}

In [179]:
temp_df = pd.DataFrame(columns = list(df_syn.columns))
temp_df

Empty DataFrame
Columns: [video_id, video_title, upload_date, view_count, like_count, comment_count]
Index: []

In [180]:
temp_df = temp_df.append(new_row_1, ignore_index = True)
temp_df = temp_df.append(new_row_2, ignore_index = True)
temp_df = temp_df.append(new_row_3, ignore_index = True)

In [181]:
temp_df.head()

      video_id  ... comment_count
0  pVJIqVLBLzx  ...            98
1  oiGFfWdhjOk  ...           233
2  YRBMeyyMDHq  ...           144

[3 rows x 6 columns]

In [ ]:
#Nice! Let's check if our insert and update functionality works!
#First let's see how our table looks before adding these videos:

In [182]:
#Before
query = '''SELECT * FROM yt_channel_videos;'''
cursor.execute(query)
output = cursor.fetchall()
for row in output:
  print(row)

('-2i4xmW6u2A', 'ZHU - In the Morning* [Short Cover]', datetime.date(2018, 9, 23), 288, 11, 0)
('-fVxmrQeTBA', 'Test 1', datetime.date(2017, 2, 15), 76, 1, 4)
('-zy2pXzqwCM', 'Zabranjeno Pušenje - Ženi Nam Se Vukota //Solo (Cover)', datetime.date(2017, 1, 21), 3839, 41, 3)
('1kFw5iGUxSU', 'REPILF - 1312 NIJANSI CRNE (SPOT)', datetime.date(2016, 11, 26), 31537, 322, 32)
('4mVlcq8BHJk', 'dark cloud - broken promise (guitar cover)', datetime.date(2016, 8, 1), 335, 9, 0)
('avbZDwi4VTM', 'Amra Mandžukić #4 //BIH Women&#39;s National Volleyball Team', datetime.date(2018, 5, 17), 808, 13, 0)
('Bj0CMyhLDRU', 'Poklon Čani', datetime.date(2018, 2, 10), 113, 6, 0)
('CvRncH8rdPc', 'Riblja Čorba - Bože, koliko je volim (COVER)', datetime.date(2017, 10, 2), 491, 14, 2)
('dUMmMRKPek4', 'Scientific method fromBosnia be like...', datetime.date(2017, 2, 20), 190, 3, 0)
('EnqCrg8J0YU', 'snimanje karakteristika tranzistora.', datetime.date(2016, 7, 12), 252, 4, 0)
('fD_TvzuH_vE', 'merrie melodies opening theme (guitar cover)', datetime.date(2016, 2, 20), 828, 12, 0)
('j6VUf73iY00', 'S.A.R.S. - Praktična žena (Bass Cover)', datetime.date(2017, 1, 7), 381, 7, 1)
('jRNvxO8ZPdo', 'Alice in Chains - Would? (Unplugged) cover', datetime.date(2014, 7, 28), 178, 3, 1)
('lZvB18OSDe8', 'Intro 1', datetime.date(2017, 2, 18), 36, 0, 0)
('neGDJyEpkVw', 'žeks from skugric $$ thug life $$', datetime.date(2018, 1, 30), 211, 4, 0)
('TWkT6ovxAtQ', 'Animal Farm (BOSNIA Edition)', datetime.date(2018, 3, 1), 127, 4, 0)
('VgB6hCpFong', 'Šoferska je tuga pregolema (Guitar)', datetime.date(2017, 4, 13), 523, 5, 8)